###> Docker && IDE ###
/.idea
/.vscode
/.env
/www/.idea
/www/.vscode
/.docker/logs/apache/*.log
/.docker/certs/*.pem
###> Docker && IDE ###

###> symfony/framework-bundle ###
/www/.env.local
/www/.env.local.php
/www/.env.*.local
/www/config/secrets/prod/prod.decrypt.private.php
/www/public/bundles/
/www/var/
/www/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/www/phpunit.xml
/www/.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/www/.phpunit.result.cache
/www/phpunit.xml
###< symfony/phpunit-bridge ###
